import math
from tkinter import  *


# ---------------------------- CONSTANTS ------------------------------- #
PINK = "#e2979c"
RED = "#e7305b"
GREEN = "#9bdeac"
YELLOW = "#f7f5dd"
BLACK = "#000000"
FONT_NAME = "Courier"
WORK_MIN = 1
SHORT_BREAK_MIN = 1
LONG_BREAK_MIN = 1
resp = 0
timer = None

# ---------------------------- TIMER RESET ------------------------------- #
def reset_timer():
    window.after_cancel(timer)
    canvas.itemconfig(timer_text,text="00:00")
    title_label.config(text="Timer")
    check_mark.config(text="")
    global resp
    resp = 0

# ---------------------------- TIMER MECHANISM ------------------------------- # 
def start_timer():
    global resp
    resp += 1
    work_sec = WORK_MIN * 60
    short_break_sec = SHORT_BREAK_MIN * 60
    long_break_sec = LONG_BREAK_MIN * 60


    if resp % 8 == 0:
        count_down(long_break_sec)
        title_label.config(text="BREAK",fg="RED")

    elif resp % 2 == 0:
        count_down(short_break_sec)
        title_label.config(text="BREAK", fg="PINK")

    else:  # if it's the 1st,3rd,5th,7th,resp
        count_down(work_sec)
        title_label.config(text="WORK", fg="GREEN")
# ---------------------------- COUNTDOWN MECHANISM ------------------------------- # 
def count_down(count):
    count_min = math.floor(count/60)
    count_sec = count % 60
    if count_sec < 10:
        count_sec = f"0{count_sec}"
    if count_min < 10:
        count_min = f"0{count_min}"

    canvas.itemconfig(timer_text,text=f"{count_min}:{count_sec}")
    if count >0:
       global timer
       timer = window.after(1000, count_down, count-1)
    else:
        start_timer()
        global  resp
        marks = ""
        work_sesssion =math.floor(resp/2)
        for _ in range(work_sesssion):
            marks += "✔"
        check_mark.config(text=marks)


# ---------------------------- UI SETUP ------------------------------- #
window = Tk()
window.title("Pomodoro")
window.config(padx=80,pady=50,bg=YELLOW)





title_label =Label(text="Timer",fg=GREEN,bg=YELLOW,font=(FONT_NAME,35))
title_label.grid(column=1,row=0)

canvas = Canvas(width=200, height=224,bg=GREEN,highlightthickness=0)

tomato = PhotoImage(file="tomato.png")

canvas.create_image(100,112,image = tomato)
timer_text = canvas.create_text(100,130,text="00:00", fill="GREEN", font=(FONT_NAME,35,"bold"))
canvas.grid(column=1, row=1)

check_mark = Label( fg=GREEN, bg=YELLOW)
check_mark.grid(column=1, row=3)

start_button=Button(text="START", command=start_timer)
start_button.grid(column=0,row=3)

reset_button= Button(text="RESET", command = reset_timer)
reset_button.grid(column=2,row=3)


window.mainloop()
